lab/lab1.1/.vs
lab/lab1.1/x64
lab/lab1.1/lab1.1/x64
lab/lab1.1/lab1.1/.vs

lab/lab1.2/.vs
lab/lab1.2/x64
lab/lab1.2/lab1.2/x64
lab/lab1.2/lab1.2/.vs

lab/lab1.3-1.5/.vs
lab/lab1.3-1.5/x64
lab/lab1.3-1.5/lab1.3-1.5/x64
lab/lab1.3-1.5/lab1.3-1.5/.vs

lab_22/lab1.1/.vs
lab_22/lab1.1/x64
lab_22/lab1.1/lab1.1/x64
lab_22/lab1.1/lab1.1/.vs

lab_22/lab1.2/.vs
lab_22/lab1.2/x64
lab_22/lab1.2/lab1.2/x64
lab_22/lab1.2/lab1.2/.vs

lab_22/lab1.3-1.5/.vs
lab_22/lab1.3-1.5/x64
lab_22/lab1.3-1.5/lab1.3-1.5/x64
lab_22/lab1.3-1.5/lab1.3-1.5/.vs

red-black_tree/red-black_tree/.vs
red-black_tree/red-black_tree/Debug
red-black_tree/red-black_tree/red-black_tree/Debug

lab/lab2.2/lab2.2/Debug
lab/lab2.2/.vs
lab/lab2.2/Debug
lab/lab2.2/lab2.2/.vs

lab_22/lab2.2/lab2.2/Debug
lab_22/lab2.2/.vs
lab_22/lab2.2/Debug
lab_22/lab2.2/lab2.2/.vs

lab_11/lab1.1/.vs
lab_11/lab1.1/x64
lab_11/lab1.1/lab1.1/x64
lab_11/lab1.1/lab1.1/.vs

lab_11/lab1.1/lab1.1/Debug
lab_11/lab1.1/.vs
lab_11/lab1.1/Debug
lab_11/lab1.1/lab1.1/.vs

lab_11/lab2.2/lab2.2/Debug
lab_11/lab2.2/.vs
lab_11/lab2.2/Debug
lab_11/lab2.2/lab2.2/.vs

lab/lab2.1/lab2.1/Debug
lab/lab2.1/.vs
lab/lab2.1/Debug
lab/lab2.1/lab2.1/.vs

lab_11/lab2.1/lab2.1/Debug
lab_11/lab2.1/.vs
lab_11/lab2.1/Debug
lab_11/lab2.1/lab2.1/.vs

lab/lab2.3/lab2.3/Debug
lab/lab2.3/.vs
lab/lab2.3/Debug
lab/lab2.3/lab2.3/.vs

lab_09/lab2.1/lab2.1/Debug
lab_09/lab2.1/.vs
lab_09/lab2.1/Debug
lab_09/lab2.1/lab2.1/.vs

lab_09/lab2.2/lab2.2/Debug
lab_09/lab2.2/.vs
lab_09/lab2.2/Debug
lab_09/lab2.2/lab2.2/.vs

lab/lab2.4/lab2.4/Debug
lab/lab2.4/.vs
lab/lab2.4/Debug
lab/lab2.4/lab2.4/.vs

lab_01/lab2.1/lab2.1/Debug
lab_01/lab2.1/.vs
lab_01/lab2.1/Debug
lab_01/lab2.1/lab2.1/.vs

lab_01/lab2.2/lab2.2/Debug
lab_01/lab2.2/.vs
lab_01/lab2.2/Debug
lab_01/lab2.2/lab2.2/.vs

lab/lab3/lab3/Debug
lab/lab3/.vs
lab/lab3/Debug
lab/lab3/lab3/.vs